button{
    border-radius: 60px;
    background-color: #e2b2b2;
    padding: 10px 40px;
}
*{
    text-align: center;
}
#start{
    margin-top: 30%;
}
@media screen  and (max-width:412px) and  (max-height:917px) {
    #start{
        margin-top: 100%;
    }
    .a{
        margin-top: 150px;
    }
    
}